{% autoescape false %}

<!-- WB Insert -->
<script>
{% set urlsplit = cdx.url | urlsplit %}
  wbinfo = {};
  wbinfo.top_url = "{{ top_url }}";
{% if is_framed %}
  // Fast Top-Frame Redirect
  if (window == window.top && wbinfo.top_url) {
    var loc = window.location.href.replace(window.location.hash, "");
    loc = decodeURI(loc);
 
    if (loc != decodeURI(wbinfo.top_url)) {
        window.location.href = wbinfo.top_url + window.location.hash;
    }
  }
{% endif %}
  wbinfo.url = "{{ cdx.url }}";
  wbinfo.timestamp = "{{ cdx.timestamp }}";
  wbinfo.request_ts = "{{ wb_url.timestamp }}";
  wbinfo.prefix = decodeURI("{{ wb_prefix }}");
  wbinfo.mod = "{{ replay_mod }}";
  wbinfo.is_framed = {{ is_framed | tobool }};
  wbinfo.is_live = {{ is_live | tobool }};
  wbinfo.coll = "{{ coll }}";
  wbinfo.proxy_magic = "{{ env.pywb_proxy_magic }}";
  wbinfo.static_prefix = "{{ static_prefix }}/";
  wbinfo.enable_auto_fetch = {{ config.enable_auto_fetch | tobool }};
</script>
{% if env.pywb_proxy_magic %}
{% set whichWombat = 'wombatProxyMode.js' %}
{% else %}
{% set whichWombat = 'wombat.js' %}
{% endif %}
{% if not wb_url.is_banner_only or (env.pywb_proxy_magic and (config.enable_auto_fetch or config.proxy.enable_wombat)) %}
<script src='{{ static_prefix }}/{{ whichWombat }}'> </script>
<script>
  wbinfo.wombat_ts = "{{ wombat_ts }}";
  wbinfo.wombat_sec = "{{ wombat_sec }}";
  wbinfo.wombat_scheme = "{{ urlsplit.scheme }}";
  wbinfo.wombat_host = "{{ urlsplit.netloc }}";

  wbinfo.wombat_opts = {};

  if (window && window._WBWombatInit) {
    window._WBWombatInit(wbinfo);
  }
</script>
{% else %}
<script>
  window.devicePixelRatio = 1;
</script>
{% endif %}

{% if config.enable_flash_video_rewrite %}
<script src='{{ static_prefix }}/vidrw.js'> </script>
{% endif %}

<!-- NLA extras -->
<script>
document.addEventListener("DOMContentLoaded", function() {
  // disable mailto: links
  var links = document.querySelectorAll("a[href^='mailto:']");
  for (var i = 0; i < links.length; ++i) {
    links[i].onclick = function(){ alert('Email links are disabled in the web archive'); return false; }
    links[i].href = 'javascript:void(0)';
  }
  // disable password fields
  var fields = document.querySelectorAll("input[type='password']");
  for (var i = 0; i < fields.length; ++i) {
    fields[i].disabled = true;
    fields[i].title = 'Password fields are disabled in the web archive';
  }

  // replace real media and quicktime embeds with a video tag for the transcoding service
  for (const embed of document.querySelectorAll('embed[src*=".rm"], embed[src*=".mov"]')) {
      const video = document.createElement('video');
      video.preload = 'none';
      video.src = wbinfo.static_prefix + "transcode?date=" + wbinfo.timestamp + "&url=" + encodeURIComponent(embed.src);
      video.controls = true;
      video.width = embed.width;
      video.height = embed.height;
      embed.parentNode.replaceChild(video, embed);
  }

  // replace old flash video player with a HTML5 video tag
  // eg https://webarchive.nla.gov.au/awa/20131211003215/http://pandora.nla.gov.au/pan/120423/20131210-0041/www.youtube.com/watch78bd.html
  //    http://pandora.nla.gov.au/pan/145179/20140403-1226/HazelwoodCFA2.html
  for (const embed of document.querySelectorAll('embed[src*="player.swf"][flashvars*="file="]')) {
    const flashvars = Object.fromEntries(embed.attributes['flashvars'].value.split('&').map(s => s.split('=', 2)));
    let file = flashvars['file'];
    let src;
    if (file.endsWith(".mp4")) {
      src = file;
    } else if (file.endsWith(".flv")) {
      let flvUrl = new URL(file, document.location).toString().substring(wbinfo.prefix.length +
          wbinfo.request_ts.length + wbinfo.mod.length + 1)
      src = wbinfo.static_prefix + "transcode?date=" + wbinfo.timestamp + "&url=" + encodeURIComponent(flvUrl);
    } else {
      continue;
    }
    const video = document.createElement('video');
    video.preload = 'none';
    video.src = src;
    video.width = flashvars['width'];
    video.height = flashvars['height'];
    if (flashvars['image']) video.poster = flashvars['image'];
    video.controls = true;
    embed.parentNode.replaceChild(video, embed);
  }
});

// Site-specific workarounds:

// https://webarchive.nla.gov.au/awa/20001004130000/http://www.unolympics.com/index.html
if (wbinfo.url.startsWith("http://www.unolympics.com/")) {
  document.layers = true; // trick version detection into thinking we're Netscape 4
}
// https://webarchive.nla.gov.au/awa/20170802002621/http://pandora.nla.gov.au/pan/14247/20170802-0307/www.gymnastics.org.au/index.html
if (wbinfo.url.match("/www.gymnastics.org.au/")) {
  document.cookie = "Asi.Web.Browser.CookiesEnabled=true;path=/;SameSite=None;Secure"; // trick cookie detection logic
}
</script>
<script src="{{ static_prefix }}/ruffle/20210126/ruffle.js"></script>
<script>
window.RufflePlayer.config.autoplay = "on";
window.RufflePlayer.config.unmuteOverlay = "hidden";
</script>
<!-- end NLA extras -->

{{ banner_html }}

{% endautoescape %}

<!-- End WB Insert -->

